<app-header [backgroudClssImge]="'header-tests'">
  <div class="typed-container">
    <h1 class="typed-cursor">courses</h1>
  </div>
</app-header>

<section id="services">
  <app-general-section>
    <h2>courses</h2>
    <p>Choose from the best programming courses with 3D effects</p>
  </app-general-section>
 <app-courses-contant></app-courses-contant>
  <div class="courses-container">
        <h1>Our Educational Courses</h1>
        
        <p>These courses offer a variety of educational courses designed to meet the needs of learners in various fields. Whether you are a beginner or have previous experience, these courses aim to enhance your skills and provide you with the knowledge necessary to advance your professional or personal career.</p>
        
        <h2>Course Types</h2>
        
        <div class="course-types">
            <div class="course-type">
                <h3>Information Technology</h3>
                <p>These include learning programming languages such as HTML, CSS, and JavaScript, frameworks such as React and Angular, as well as advanced technologies such as artificial intelligence and data science.</p>
            </div>
            
            <div class="course-type">
                <h3>Personal Development</h3>
                <p>These include leadership skills, time management, and emotional intelligence, as well as communication and negotiation skills.</p>
            </div>
            
            <div class="course-type">
                <h3>Design and Creativity</h3>
                <p>Learn how to use tools such as Photoshop, Illustrator, and AutoCAD, as well as user interface and user experience (UI/UX) design.</p>
            </div>
            
            <div class="course-type">
                <h3>Business Management</h3>
                <p>These include project management, digital marketing strategies, and data analysis to improve business performance.</p>
            </div>
        </div>
        
        <h2>Course Features</h2>
        
        <div class="course-features">
            <ul>
                <li><strong>Flexible Learning:</strong> You can learn at your own pace and time.</li>
                <li><strong>Updated Content:</strong> The content is regularly updated to keep pace with the latest industry trends.</li>
                <li><strong>Accredited Certificates:</strong> Some courses offer accredited certificates from prestigious institutions.</li>
                <li><strong>Ongoing Support:</strong> Technical and educational support is available throughout the course.</li>
            </ul>
        </div>
    </div>
</section>
<app-icon></app-icon>
