<div data-aos="zoom-in">
</div>
<div class="container">
  <div class="row d-flex flex-lg-row">
    <!-- Contact Form -->

    <div class="col-lg-7 col-md-12 my-5-md">
      <div data-aos="zoom-in">
        <div class="contact-form">
          <form action="#">
            <div class="form-row">
              <input type="text" placeholder="name" required />
              <input type="tel" placeholder="phone number " required />
            </div>

            <div class="form-row">
              <input type="date" required />
              <input type="time" required />
            </div>

            <textarea
              rows="4"
              cols="50"
              placeholder=" your problem"
            ></textarea>

            <button type="submit" class="submit-btn">send</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Contact Items -->

    <div class="col-lg-5 col-md-12">
      <div class="contact-items d-flex align-items-lg-end">
        <div class="contact-item" data-aos="zoom-in">
          <i class="fas fa-phone-alt"></i>
          <div>
            <p class="title">phone</p>
            <p>123-456-7890</p>
          </div>
        </div>

        <div class="contact-item" data-aos="zoom-in">
          <i class="fas fa-envelope"></i>
          <div>
            <p class="title">e-mail </p>
            <p>contact&#64;example.com</p>
          </div>
        </div>
        <div class="contact-item" data-aos="zoom-in">
          <i class="fab fa-linkedin"></i>
          <div>
            <p class="title">linkedIn</p>
            <p>linkedin.com/in/example</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
